
			</main>
		</div>

		<footer class="page-footer">
			Étienne Gauvin <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons BY-SA" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
		</footer>

		<script src="{{assetsPath}}/javascripts/script.js"></script>
		<script src="{{assetsPath}}/javascripts/glitch.js"></script>
		<script>
			window.addEventListener('load', function () {
				const container = document.querySelector('div.posts')

				if (container) {
					var postsHandler = new PostsHandler(container)
					postsHandler.load()
				}
			})
		</script>
	</body>
</html>
