<section id="Compétences" class="wrapper-section competences">
  <h2>Competences</h2>
  
  <h3>Web - front-end</h3>
  <p>
    Connaissance des langages HTML5, CSS3 (ainsi que Less et SASS), et Javascript (ainsi que CoffeeScript).
	Bonne connaissance des bibliothèques VanillaJS et jQuery.
  </p>
  
  <h3>Web - back-end</h3>
  <p>
    Connaissance des langages PHP (orienté objet) et JavaScript (NodeJS / Express 3 / MeteorJS).
  </p>
  
  <h3>Bases de donnees</h3>
  <p>
    MySQL et MongoDB.
  </p>
  
  <h3>Jeux video</h3>
  <p>
    Unity pour le <i>level design</i> ainsi que programmation en C#.<br />
	Unreal Engine pour le <i>level design</i>.<br />
	L'API Canvas 2D, ThreeJS et Pixi.JS pour le développement en JavaScript dans le navigateur web.
  </p>
  
</section>
