<section id="Compétences" class="wrapper-section competences">
  <h2>Competences</h2>
  
  <h3>Web - front-end</h3>
  <p>
    Connaissance des langages HTML5, CSS3 (ainsi que Less et SASS), et Javascript (ainsi que CoffeeScript). Bonne connaissance des bibliothèques VanillaJS et jQuery, et de l'API Canvas.
  </p>
  
  <h3>Web - back-end</h3>
  <p>
    Connaissance des langages PHP (orienté objet) et Javascript (avec NodeJS et Express 3).
  </p>
  
  <h3>Bases de donnees</h3>
  <p>
    SQL (bon niveau) et MongoDB (bases).
  </p>
  
  <h3>Langues etrangeres</h3>
  <p>
    Bon niveau d’anglais général et d’anglais technique (parlé et compris), notions d’allemand.
  </p>
</section>
