<section id="Contact" class="wrapper-section contact">
  <h2>Contact</h2>
  <p>
    Vous pouvez me contacter par téléphone au <a>06 31 73 58 67</a>, ou à l'adresse mail <span class='email'>etienne<span>@</span>gauvin.info</span>, et me retrouver <a target="_blank" href="https://twitter.com/etiennegauvin">sur Twitter</a>.
  </p>
</section>
