<div class="cover">
  <div class="cover-container">
    <header role="banner" class="header">
      <h1><a href="#"><img src="assets/images/etienne-gauvin.png" alt="Etienne Gauvin" /></a></h1>
    </header>
    
    {{> navigation}}
  </div>
</div>