<section class="wrapper-section intro">
  <p class='intro'>
      Bonjour ! Je suis étudiant et développeur web, avec un penchant pour les jeux vidéo.<br />
      Vous pouvez retrouver la plupart de mes projets <a target="_blank" href="https://github.com/etienne-gauvin">sur GitHub</a> ou sur cette page.
  </p>
  <!--<p class='stage'><small>( i )</small> Je suis à la recherche d'un stage du 7 Avril au 27 Juin et ouvert à toute proposition.<br /><a href="#Contact">Contactez-moi</a> pour d'avantage de détails !</p>-->
</section>
