<nav role="navigation" class="navigation">
  <ul>
    <li><a href="#Créations">Creations</a></li>
    <li><a href="#Compétences">Competences</a></li>
    <li><a href="#Contact">Contact</a></li>
    <li><a href="https://github.com/etienne-gauvin" target="_blank">GitHub</a></li>
  </ul>
</nav>