/*.item-list {
    list-style: none;
    padding: 0;
    
    .tags {
        list-style: none;
        padding: 0;
        text-align: right;
        width: 500px;
        
        @include breakpoint(medium) {
            width: auto;
        }
        
        li {
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2) inset;
            background-color: #57c497;
            display: inline-block;
            font-size: 18px;
            padding: 2px 8px;
            line-height: 1;
            margin: 0;
            vertical-align: bottom;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
    
    @include breakpoint(medium) {
        margin: 0;
    }
    
    .item {
        background-color: $primary-color;
        display: block;
        position: relative;
        overflow: hidden;
        padding: 0 20px;
        overflow-y: hidden;
        color: white;
        width: 500px;
        height: 56px;
        
        &, .overlay-blurred {
            @include transition(500ms ease-in-out);
        }
        
        @include breakpoint(medium) {
            width: auto;
        }
        
        margin: 0 0 5px;
        text-decoration: none;
        font-size: 1em;
        line-height: 1.2;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 2px 0 rgba(0, 0, 0, 0.5);
        box-shadow:
            -2px 3px 0 $secondary-color,
            -2px 2px 0 $secondary-color,
            -1px 1px 0 $secondary-color,
             0px 0px 0 $secondary-color,
            0 2px 8px rgba($primary-color, 0.4);
        
        @include breakpoint(medium) {
            height: auto !important;
            
            .overlay-blurred {
                opacity: 0;
            }
            
            &:before {
                opacity: 1;
            }
        }
        
        &:hover, &:focus, &:target {
            height: 300px;
            @include transition(500ms ease-in-out);
            
            .overlay-blurred {
                opacity: 0;
            }
            
            &:before {
                opacity: 1;
            }
        }
    }
    
    a.item:before {
        color: $secondary-color;
        content: "+ d'infos";
        display: block;
        position: absolute;
        bottom: 10px;
        right: 20px;
        opacity: 0;
        @include transition(500ms ease-in-out);
    }
        
    
    h3 {
        font-size: 28px;
        font-weight: normal;
        font-family: $text-font-family;
        line-height: 2;
        border-bottom: 2px solid $secondary-color;
        margin-bottom: 10px;
    }
    
    .overlay, .overlay-blurred {
        position: absolute;
        top: 0;
        right: 0;
        height: 56px;
        width: 96px;
        opacity: 1;
    }
}*/

.wrapper-section.creations {
    
    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        > li {
            &:not(:last-child) {
                margin-bottom: 20px;
                border-bottom: 2px solid $secondary-color;
            }

            h3 {
                font-weight: normal;
                margin-left: 20px;
                margin-top: 20px;
                font-size: 18px;
                    color: $secondary-color;

                &:before {
                    content: "I ";
                    color: rgba($secondary-color, 0.4);
                }
            }
            
            ul.tags {
                list-style: none;
                margin-top: 10px;
                margin-left: 40px;
                padding: 0;

                li {
                    display: inline-block;
                    color: lighter($secondary-color, 50%);
                    font-size: 19px;
                    
                    &:not(:last-child):after {
                        content: ', ';
                    }
                }
            }
            
            p {
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 40px;
                line-height: 1.2;
            }
            
            figure {
                margin-bottom: 20px;
                
                img {
                    max-width: 100%;
                    display: block;
                    width: 100%;
                    //border: 2px solid $primary-color;
                    box-shadow: 0 0px 4px rgba($secondary-color, 0.3);
                    box-sizing: border-box;
                }
            }
            
            ul.links {
                list-style: square;
                margin-bottom: 20px;
                
                a, a:visited {
                    color: $secondary-color;
                    text-decoration: none;
                    
                    &:hover, &:active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}